<!DOCTYPE HTML>
<html>

<head>
    <title>Error</title>
</head>

<body>
    <h1>
        <%= error.message %>
    </h1>
    <h2>
        <%= error.status %>
    </h2>
    <h2>
        <%= error.stack %>
    </h2>
</body>

</html>