.hex {
    display: inline-block;
    box-shadow: 0px #000;
    width: 150px;
    height: 150px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 1s;
}

.mumi:hover {
    background: red;
    transform: rotateY(-180deg);
    transition: .7s;
}

.no {
    background: transparent;
}